.banner{
	line-height: 0;
}

.plan{
	font-size: 26px;
	margin: 50px auto;
}

.con{
	max-width: 620px;
	margin: auto;
	
}

.con div{
	width: 33.33%;
	text-align: center;
	float: left;
}

.con div dl dt{
	font-size: 16px;
}

.con div dl dd{
	margin: 7px auto 0;
	padding: 0 14px;
}

.con div+div dl dd{
	border-left: 1px solid #ECEDEC;
}

@media only screen and (max-width: 700px){
	.plan{
		font-size: 24px;
		margin: 50px auto;
	}
	
	.con div{
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 33px;
	}
	
	.con div dl dd{
		margin: 7px auto 0;
		padding: 0 28px;
	}
	
	.con div+div dl dd{
		border: none;
	}
}

@media only screen and (max-width: 480px) {
	.con div{
		/*width: 210px;*/
		margin: auto;
		text-align: center;
		float: none;
		margin-bottom: 33px;
	}
	
	.con div dl dd{
		margin: 7px auto 0;
		padding: 0 21px;
	}
}

.inner{
	max-width: 1000px;
	width: 93%;
	margin:33px auto;
}


.inner .inner-item{
	position: relative;
	width: 31%;
	float: left;
	line-height: 0;
	transition: all .3s;
}

.inner>.inner-item:hover{
	box-shadow: 0 17px 50px 0 #91948F;
    transform: translate3d(0,-2px,0);
}

.inner .inner-item+.inner-item{
	margin-left: 3.5%;
}


.inner .inner-item img{
	width: 100%;
}

.inner .inner-item div{
	position: absolute;
	top: 0;
	left: 0;
	color: #FFFFFF;
	font-size: 16px;
	padding: 20px 20px;
}

@media only screen and (max-width: 768px) {
	.inner{
		width: 100%;
		margin: 66px auto auto;
		text-align: center;
	}
	
	.inner>.inner-item{
		float: none;
		display: inline-block;
		width: 60%;
	}
	
	.inner .inner-item+.inner-item{
		margin: 66px auto auto;
	}
}

@media only screen and (max-width: 480px) {
	.inner{
		margin: 33px auto auto;
	}
	
	.inner .inner-item+.inner-item{
		margin: 33px auto auto;
	}
	
	.inner>.inner-item{
		width: 86%;
	}
	
}


