/*网格视图*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
	box-sizing: border-box;
}

.user-head{
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	text-align: center;
}

.user-head img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
}

.user-head .user-name{
	font-size: 1.6rem;
	margin-top: 20px;
}

/**/
.user-warp{
	max-width: 1200px;
	margin: auto;
	padding-bottom: 120px;
}

.user-warp .user-menu{
	text-align: center;
	background: #FFFFFF;
	/*height: 60px;*/
	margin-bottom: 18px;
}

.user-warp .user-menu ul li{
	width: 120px;
	line-height: 60px;
	display: inline-block;
	box-sizing: border-box;
	
}

@media only screen and (max-width: 768px) {
	.user-warp .user-menu ul li{
		width: 100%;
		float: left;
		line-height: 60px;
		border-bottom: 1px solid #DADBDA;
		border-right: 1px solid #DADBDA;
	}
}

/*订单清单*/
.order{
	background: #FFFFFF;
}

.order .option{
	padding: 0 2.5%;
	border-bottom: 1px solid #DADBDA;
}

.order .option ul li{
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	width: 90px;
	float: left;
	text-align: center;
	display: inline-block;
}


/*清单表头*/
.bill-head{
	width: 100%;
	height: 50px;
	background-color: rgb(71,76,69);
	/*padding: 0 5%;*/
	/*padding-left: 5%;*/
	padding:0 2.5%;
	color: #ECEDEC;
}

.bill-head div{
	line-height: 50px;
	font-size: 1.2rem;
}


.item{
	padding-bottom: 60px;
}


/*清单条目*/
.item-box{
	width: 100%;
	background-color: #FFFFFF;
	padding:0 2.5%;
}

.item-box .img{
	height: 133px;
	line-height: 133px;
	float: left;
	border-bottom: 1px solid #DADBDA;
}

.item-box .img img{
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.ordernumber{
	padding: 0 2.5%;
	line-height: 50px;
}

.ordernumber span{
	vertical-align: bottom;
}

.cart-item{
	float: left;
	height: 133px;
	border-bottom: 1px solid #DADBDA;
}

.cart-item>li{
	float: left;
	display: inline-block;
	line-height: 133px;
}

.cart-item li+li{
	text-align: center;
}

.cart-item .name{
	/*text-align: left;*/
}

.cart-item .name a{
	font-size: 1.6rem;
}

.cart-item .price{
	font-size: 1.5rem;
}

/*quantity-产品的数量*/

.cart-item .quantity .quantity-change{
	vertical-align: middle;
	display: inline-block;
	margin: 0 auto;
	width: 85px;
	height: 25px;
	border: 1px solid #DFDFDF;
}

.quantity-change{
	text-align: center;
	line-height: 0;
	position: relative;
}

.quantity-change span{
	display: inline-block;
	line-height: 23px;
}




.cart-item .close{
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: url(../iconfont/p-close.png) no-repeat;
}

.item-box:nth-last-child(1) .img{
	border: none;
}

.item-box:nth-last-child(1) ul{
	border: none;
}

.item-box:nth-last-child(1){
	border-bottom: 1px solid #DADBDA;
}

/*物流信息*/
.show-logistics{
	background: none;
	padding: 10px;
	border: 1px solid #DADBDA;
	background: #89C86D;
	color: #FFFFFF;
}

.logistics-number{
	font-weight: bold;
	margin: 20px 0;
	display: none;
}

.logistics-info{
	display: none;
}

.logistics-info p{
	font-weight: bold;
}

.logistics-info dl{
	font-size: 1.2rem;
	margin: 0;
	margin-left: 20px;
}

.logistics-info dd{
	margin-bottom: 10px;
}


@media only screen and (max-width: 1240px) {
	.bill{
		margin: 0 auto;
		width: 96.09375%;
	}
}

@media only screen and (max-width: 768px) {
	.bill{
		margin: 0 auto;
		width: 100%;
	}
	
	.bill-head li{
		display: none;
	}
	
	.item-box{
		border-bottom: 1px solid #DADBDA;
		padding: 15px 5% 13px 5%;
	}
	
	.item-box .img{
		width: 25%;
		height: auto;
		border: none;
		line-height: 1;
	}
	
	.item-box .img img{
		width: 66px;
		height: 66px;
	}
	
	.cart-item{
		width: 75%;
		height: auto;
		position: relative;
		border-bottom: none;
	}
	
	.cart-item li{
		width: 100%;
		display: inline-block;
		line-height: 1.4;
		text-align: left;
	}
	
	.cart-item li+li{
		text-align: left;
	}
	
	
	.cart-item .name{
		/*padding: 2px 0;*/
	}
	
	.cart-item .name a{
		font-size: 1.4rem;
	}
	
	.cart-item .price-box{
		margin-bottom: 10px;
	}
	
	.cart-item .quantity{
		padding-top: 15px;
		border-top: 1px solid #DADBDA;
		width: 50%;
	}
	
	.cart-item .subtotal{
		padding-top: 15px;
		border-top: 1px solid #DADBDA;
		width: 50%;
		line-height: 25px;
		text-align: right;
	}
	
	
	.cart-item .close-box{
		width: auto;
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media only screen and (max-width: 320px) {
	.item-box{
		padding: 15px 2.5% 13px 2.5%;
	}
}